// font size
// $title-max-size: 64px;
// $title-middle-size: 24px;
// $title-min-size: 16px;

// $text-max-size: 20px;
// $text-middle-size: 16px;
// $text-sub-size: 14px;
// $text-min-size: 12px;


$title-max-size: 4rem;
$title-middle-size: 1.5rem;
$title-min-size: 1rem;

$text-max-size: 1.25rem;
$text-middle-size: 1rem;
$text-sub-size: 0.875rem;
$text-min-size: 0.75rem;
